body[dark] {
  background-color: #2d3436;
  color: #d2dae2;
}

body[dark] img {
  filter: brightness(0.9);
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #2d3436;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2vw auto 2vw;
  grid-template-rows: auto auto 1fr 11rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.2rem 0 0 0;
}

p {
  font-size: 1.3rem;
}

a {
  font-size: 1.3rem;
  color: #6495ed;
}

button {
  font-family: "M PLUS Rounded 1c";
  border: none;
  background-color: #fff0;
  color: #6495ed;
  font-size: 1.3rem;
  border-bottom: 1px solid;
  padding: 0 0 3px 0;
  line-height: 14px;
  cursor: pointer;
}

#header {
  grid-column: 1 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 17rem auto;
  grid-template-rows: auto;
}

#header a {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: auto 8rem auto;
  margin: 0;
}

#logo {
  grid-column: 2;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: #6495ed;

  color: #ffffff;
}

#initials {
  font-size: 4rem;
  padding: 1.3rem 1rem 1rem 1.5rem;
  font-weight: 300;
}

#switch-theme {
  font-size: 1.3rem;
  padding-top: 0.55rem;
}

#header-text {
  grid-column: 2;
  font-size: 1.4rem;
  text-align: center;
}

#description {
  grid-column: 2 / 3;
  grid-row: 2;
  height: 10vw;
}

#projects {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  animation: fade-up 700ms;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    margin-top: 4%;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.project-card .imagebox {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.project-card img {
  width: 100%;
}

body[dark] .project-card {
  box-shadow: 0px 0.3rem 0.5rem #000000a8;
  background-color: #3c4244;
}

.project-card {
  height: auto;
  margin-bottom: 3rem;
  box-shadow: 0px 0.3rem 0.5rem #80808069;
  padding: 2rem;
  overflow: hidden;
  position: relative;
}

.project-card p {
  margin: 0 0 2.5rem 0;
}
.project-card-footer {
  position: absolute;
  bottom: 2rem;
}

.project-card a {
  margin: 0 1.4rem 0 0;
}

#close-content-button {
  text-align: left;
  border: none;
}
#content a {
  margin: 0 2.3rem 0 0;
}

#up-button {
  background-color: #6495ed;
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background: radial-gradient(
    circle,
    rgb(133, 176, 255) 15%,
    rgb(100, 149, 237) 78%
  );
  cursor: pointer;
}

#up-button div {
  padding: 0 0 0 0.6rem;
  font-size: 3rem;
  margin-top: -0.4rem;
  color: #ffffff;
  font-weight: 500;
}

footer {
  grid-column: 2/3;
  grid-row: 4;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer div {
  text-align: center;
  vertical-align: middle;
  padding-top: 2rem;
}

#content {
  display: none;
  grid-column: 2;
  grid-row: 3;
  grid-template-columns: 93vw;
  gap: 1rem;
  animation: fade-down 500ms;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    margin-top: -4%;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

#content img {
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  body {
    grid-template-columns: auto 1200px auto;
  }

  #header {
    grid-template-columns: 2vw 5rem auto 2vw;
  }

  #header a {
    grid-column: 2;
  }

  #logo {
    grid-column: 2;
    width: 5rem;
    height: 5rem;
  }

  #initials {
    font-size: 2.3rem;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: 300;
  }

  #header-text {
    grid-column: 3;
    margin-top: 3rem;
    padding: 1.5rem 5rem 0 0;
    font-size: 1.4rem;
    text-align: center;
  }

  #description {
    height: 3vw;
  }

  #projects {
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .project-card {
    height: 19rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0.2rem 0.5rem #d5d5d5a8;
    padding: 2rem;
    overflow: hidden;
    position: relative;
  }

  .project-card .imagebox {
    height: 8rem;
  }

  .project-card button {
    border: none;
    color: #6495ed;
    font-size: 1rem;
    border-bottom: 1px solid;
    padding: 0;
    line-height: 16px;
    margin: 0 0.3rem 0 0.3rem;
  }

  #close-content-button {
    font-size: 1rem;
  }

  #content {
    grid-template-columns: 8vw auto 8vw;
  }

  #content article {
    grid-column: 2;
  }

  #content article p {
    letter-spacing: -0.003em;
    line-height: 32px;
  }

  #content img {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }

  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  #up-button {
    bottom: 3rem;
    right: 22rem;
  }

  #switch-theme {
    font-size: 1rem;
  }
}
